[server]

[mysqld]

tmpdir={{ mysql_tmp_dir }}
ignore_db_dirs=lost+found

max_connections=1000
wait_timeout=5400
interactive_timeout=5400

table_open_cache=3000
table_definition_cache=3000
thread_cache_size=100
read_buffer_size=64K
read_rnd_buffer_size=128K

max_heap_table_size=256M
tmp_table_size=256M

innodb_file_per_table=1
innodb_buffer_pool_size={{ mysql_innodbpoolsize }}
innodb_buffer_pool_instances=3

query_cache_type = 1
query_cache_limit = 4M
query_cache_size = 64M
query_cache_strip_comments=1

slow_query_log=ON
slow_query_log_file={{ mysql_logs_dir }}/mysql-slow.log
long_query_time=7
log_slow_verbosity=query_plan
log-error={{ mysql_logs_dir }}/mysql.err
general_log_file={{ mysql_logs_dir }}/queries.log

character-set-server=utf8
default-storage-engine=InnoDB
sql-mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

[embedded]

[mysql]
